.vans--vanlist {
  padding-left: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.vans--vans-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vans--filter-bar {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}

.vans--filter-btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-family: inherit;
  color: #4D4D4D;
  font-weight: 600;
}